body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bg-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('bg.jpg') repeat;
    background-size: auto; 
    background-position: 0 0;
    cursor: grab;   
}

#timescale-axis {
    width: auto;
    position: relative;
    display: flex;
    /* gap: 10px; */
    border-top: 3px solid black;
    margin-bottom: 50px;
    /* border: 20px solid purple; */
}

.timescale-year {
    position: relative;
    top: 0px;
    padding-right: 0;
    padding-left: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#content-container {
    position: absolute;
    top: 0px;
    left: 0px;
}

.series-container {
    background-color: #f9ecda;
    padding: 5px;
}

.issues-container {
    display: flex;
    gap: 70px;
}


.box {
    background-color: hwb(45 55% 5%);
    width: 300px;
    min-width: 100px;
    max-width: 300px;
    height: max-content;
    border: 1px solid black;    
    cursor: pointer;
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.3);
    font-family: cursive;    
}

.label {
    background-color: rgb(158, 243, 243);
    /* position: relative; */
    height: 1.5em;
    width: auto;
    /* margin-bottom: -1px; */
    border-bottom: 1px solid black;     
}

.box img {
    width: 100%;
    height: auto;   /* Keep image aspect ratio */
    margin-bottom: -4px;    /* Removes extra box space */
    pointer-events: none; /* Disables mouse interaction */

}

.issue-number {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: black;
    color: white;
    bottom: 20px;
    left: 0px;
    margin-bottom: -25px;    /* Removes extra box space */
}